@font-face {
  font-family: 'Gothic-Light';
  src: url("/twitter/assets/fonts/GothamRounded-Light/GothamRounded-Light.eot");
  src: url("/twitter/assets/fonts/GothamRounded-Light/GothamRounded-Light.svg#Gothic-Light") format('svg'), url("/twitter/assets/fonts/GothamRounded-Light/GothamRounded-Light.ttf") format('truetype'), url("/twitter/assets/fonts/GothamRounded-Light/GothamRounded-Light.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gothic-Med';
  src: url("/twitter/assets/fonts/GothamRounded-Medium/GothamRounded-Medium.eot");
  src: url("/twitter/assets/fonts/GothamRounded-Medium/GothamRounded-Medium.svg#Gothic-Med") format('svg'), url("/twitter/assets/fonts/GothamRounded-Medium/GothamRounded-Medium.ttf") format('truetype'), url("/twitter/assets/fonts/GothamRounded-Medium/GothamRounded-Medium.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Gothic-Med';
  font-size: 18px;
  background-color: #eb9303;
}
ul {
  list-style: none;
}
.connect {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.connect:hover {
  color: #3461ab;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header {
  background-color: #eb9303;
  border-bottom: 2px solid #000;
  position: fixed;
  width: inherit;
  top: 0;
}
.header .menu {
  display: inline-block;
  width: 50%;
  padding: 1em 2em;
}
.header .menu .icon {
  background-image: url("/twitter/assets/icons/refresh.svg");
  width: 1em;
  height: 1em;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.header .menu .icon:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.header .menu.refresh {
  text-align: right;
}
.results--container {
  margin: 60px 0;
  border-bottom: 2px solid #000;
}
.tweet {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e0ded3;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.tweet:nth-child(odd) {
  background-color: #cecbbe;
}
.tweet:hover {
  cursor: pointer;
}
.tweet.dragover {
  background-color: #eb9303;
}
.tweet.nudge {
  border-left: 0.5em solid #e91b77;
}
.tweet--container {
  padding: 2em;
}
.tweet--container .col-1-4 {
  max-height: 50px;
  height: 50px;
  max-width: 50px;
  width: 50px;
  display: inline-block;
}
.tweet--container .col-1-4 .profile {
  background-repeat: no-repeat;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  padding-top: 100%;
}
.tweet--container .col-3-4 {
  width: calc(100% - 4em - 50px - 2em);
  display: inline-block;
  vertical-align: top;
  padding-left: 2em;
}
.tweet--container .col-3-4 .head {
  font-family: 'Gothic-Light';
  font-size: 12px;
  padding-bottom: 0.5em;
}
.tweet--container .col-3-4 .head div {
  display: inline-block;
}
.tweet--container .col-3-4 .head .handle {
  margin-left: 1em;
}
.focus {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  cursor: none;
}
.focus .hotspot {
  pointer-events: none;
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: block;
}
.focus .hotspot .tweet--container {
  background-color: #000;
  color: #eb9303;
}
