.header
  .handle
    .name
  a.refresh(href="index.php") refresh
#error
  .msg
.results--container
  ul.favourites
    li.tweet
      .tweet--container 
        .id
        .text
        .handle
.focus
  .hotspot