.wrapper
  .header
    .menu.handle
      .name
    .menu.refresh
      a(class="icon" href="index.php")
  #error
    .msg
  .results--container
    ul.favourites
      li.tweet
        .tweet--container
          .hidden
          .col-1-4
            .profile
          .col-3-4
            .head
              .name
              .handle
            .body
              .text
.focus
  .hotspot