@import 'nib'
@import 'mixins'
@import 'vars'

*, *:before, *:after
  box-sizing border-box
  zero()

html
  font-family 'Gothic-Med'
  font-size 18px

ul
  list-style none

.dragging
  cursor none

.wrapper
  width 50%
  margin 0 auto
  position relative

.header
  background-color rgba(0,0,0,.2)
  position fixed
  width inherit
  top 0
  .menu
    display inline-block
    width 50%
    padding 1em
    &.refresh
      text-align right


.results--container
  margin 50px 0

.tweet
  user-select none
  background-color rgba(0,0,50,.4)
  transition opacity .7s
  opacity 1
  &:nth-child(odd)
    background-color rgba(0,50,0,.2)
  &:hover
    cursor pointer
  &.dragover
    background-color gold
    

.tweet--container
  padding 2em
  .head
    font-family 'Gothic-Light'
    font-size 12px


.focus
  z-index 0
  position absolute
  top 0
  left 0
  pointer-events none
  .hotspot
    pointer-events none
    position absolute
    transition all .2s
    background-color noir
    width 100%
    height 100%
    display block
    .tweet--container
      background-color noir
      color gold
    